# ios
Pods
.DS_Store
.build/
ios/XCFrameworks
ios/SwiftUIBindingMAUI
# ios/SwiftUIBindingMAUI/SwiftUIBindingMAUI/StructsAndEnums.cs
ios/DwebBrowserFramework/DwebBrowserFramework/*
!ios/DwebBrowserFramework/DwebBrowserFramework/README.md
ios/DwebBrowserFramework/DwebBrowserFramework.xcodeproj/project.xcworkspace

# android
.gradle/
*.iml
.idea/
local.properties
build/
*.log
android/app/src/main/assets/plaoc-demo/
*.temp

# desktop
*.provisionprofile
**/jcef-bundle

# node/deno/typescript
node_modules/
.npm
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


#plaoc
plaoc/build
plaoc/cli/build
plaoc/cli/bin

# bak
.*.bak
*.bak

# rust
next/kmp/ziplib/uniffi/target
next/kmp/app/androidApp/key.properties
