# ios
Pods
.DS_Store
ios/BFExplorer/BFExplorer.xcworkspace
ios/BFExplorer/BFExplorer.xcodeproj/project.pbxproj
.build/

# android
.gradle/
*.iml
.idea/
local.properties
build/
*.log
android/app/src/main/assets/cot-demo/

# desktop
desktop/apps

# node/deno/typescript
node_modules/
.npm
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


#plugins
plugins/build
