[submodule "toolkit/offscreen-web-canvas"]
	path = toolkit/offscreen-web-canvas
	url = https://github.com/BioforestChain/offscreen-web-canvas
[submodule "toolkit/plaoc-html-demo"]
	path = toolkit/plaoc-html-demo
	url = https://github.com/HighValyrian/plaoc-html-demo
[submodule "toolkit/cklib"]
	path = toolkit/cklib
	url = https://github.com/kingsword09/cklib
