# ios
Pods
.DS_Store
ios/BFExplorer/BFExplorer.xcworkspace
ios/BFExplorer/BFExplorer.xcodeproj/project.pbxproj
.build/
ios/SwiftUIToMAUI/XCFrameworks
ios/SwiftUIToMAUI/MAUIProject/.vs
ios/SwiftUIToMAUI/MAUIProject/MAUIProject/bin
ios/SwiftUIToMAUI/MAUIProject/MAUIProject/obj
ios/SwiftUIToMAUI/SwiftUIBindingMAUI/.vs
ios/SwiftUIToMAUI/SwiftUIBindingMAUI/SwiftUIBindingMAUI/bin
ios/SwiftUIToMAUI/SwiftUIBindingMAUI/SwiftUIBindingMAUI/obj

# android
.gradle/
*.iml
.idea/
local.properties
build/
*.log
android/app/src/main/assets/plaoc-demo/

# desktop


# node/deno/typescript
node_modules/
.npm
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


#plaoc
plaoc/build
plaoc/cli/build
plaoc/cli/bin

# bak
.*.bak
*.bak
