*.iml
.gradle
.idea
.kotlin
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
X-Build
/shared/src/commonMain/resources/browser
/shared/src/commonMain/resources/dwebview-polyfill
release
debug
/app/androidApp/dwebbrowser.jks
*.xcarchive
*.xcframework
*.link
/app/electronApp/src/jsMain/resources/demo/
/kotlin-js-store/
