*.iml
.gradle
.idea
.kotlin
.DS_Store
.os
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
X-Build
/shared/src/commonMain/resources/browser
/shared/src/iosMain/composeResources
/dwebview/src/commonMain/composeResources/files/dwebview-polyfill
release
debug
/app/androidApp/dwebbrowser.jks
*.xcarchive
*.xcframework
*.link
/app/electronApp/src/jsMain/resources/demo/
/kotlin-js-store/

# 开发桌面端时应用缓存目录
/app/desktopApp/appdata
