*.iml
.gradle
.idea
.kotlin
.DS_Store
.os
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
X-Build
release
debug
/app/androidApp/dwebbrowser.jks
*.xcarchive
*.xcframework
*.link
*.provisionprofile
.upload-tasks.ts
