<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <!--蓝牙-->
  <!--<uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />-->

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" /> <!-- 振动，蜂鸣 -->
  <!--位置-->
  <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
  <uses-permission
    android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
    tools:ignore="ProtectedPermissions" /> <!-- 前台服务开启权限 -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 弹出横幅通知的权限 -->
  <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> <!--webview select-->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 存储卡 -->
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机 -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!-- 手机 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />--> <!--生物识别-->

  <application
    android:name=".App"
    android:allowBackup="true"
    android:enableOnBackInvokedCallback="true"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:requestLegacyExternalStorage="true"
    android:supportsRtl="true"
    android:theme="@style/Theme.dwebbrowser"
    android:usesCleartextTraffic="true"
    tools:replace="android:theme"
    tools:targetApi="tiramisu">
    <profileable
      android:shell="true"
      tools:targetApi="29" />

    <!--android:excludeFromRecents="true" 在activity中加入该参数，会让activity不出现在任务栏窗口 -->
    <activity
      android:name=".SplashActivity"
      android:exported="true"
      android:theme="@style/Theme.App.Starting">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".microService.browser.desk.DesktopActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.dwebbrowser"
      tools:ignore="LockedOrientationActivity" />
    <!--      android:windowSoftInputMode="adjustResize"-->
    <activity
      android:name=".microService.browser.desk.TaskbarActivity"
      android:exported="true"
      android:theme="@style/Theme.dwebbrowser.desk.taskbar" />
    <activity
      android:name=".microService.sys.deepLink.DeepLinkActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:theme="@style/Theme.AppCompat.Transparent">

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="dweb" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="https" />
        <data android:host="docs.dweb-browser.org" />
        <data android:pathPrefix="/dweb:" />
      </intent-filter>
    </activity>

    <!--<activity
      android:name=".microService.browser.mwebviewbak.MultiWebViewPlaceholder1Activity"
      android:exported="true"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".microService.browser.mwebviewbak.MultiWebViewPlaceholder2Activity"
      android:exported="true"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".microService.browser.mwebviewbak.MultiWebViewPlaceholder3Activity"
      android:exported="true"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".microService.browser.mwebviewbak.MultiWebViewPlaceholder4Activity"
      android:exported="true"
      android:windowSoftInputMode="adjustPan" />
    <activity
      android:name=".microService.browser.mwebviewbak.MultiWebViewPlaceholder5Activity"
      android:exported="true"
      android:windowSoftInputMode="adjustPan" />-->

    <meta-data
      android:name="com.google.firebase.ml.vision.DEPENDENCIES"
      android:value="barcode" />

    <activity
      android:name=".microService.sys.share.ShareActivity"
      android:exported="true"
      android:theme="@style/Theme.AppCompat.Transparent">
      <intent-filter>
        <action android:name="${applicationId}.share" />
      </intent-filter>
    </activity>
    <activity
      android:name=".microService.sys.biometrics.BiometricsActivity"
      android:exported="true"
      android:theme="@style/Theme.AppCompat.Transparent" />

    <activity
      android:name=".microService.sys.fileSystem.FileSystemActivity"
      android:exported="true"
      android:theme="@style/Theme.AppCompat.Transparent" />

    <service android:name="org.dweb_browser.browserUI.download.DwebBrowserService" />
    <!--    <service android:name=".microService.browser.desk.TaskbarService" />-->

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.file.opener.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_opener_paths" />
    </provider>
  </application>

</manifest>