<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.bagen.rust.plaoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!--蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!--蓝牙-->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 振动，蜂鸣 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!--位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!--位置-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" /> <!-- 前台服务开启权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 弹出横幅通知的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> <!--webview select-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 存储卡 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 手机 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.plaoc"
        android:usesCleartextTraffic="true">
        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".webView.DWebViewActivity"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@style/Theme.plaoc">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="info.bagen.rust.plaoc.webView" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- <data android:scheme="dweb" /> -->
                <!-- android:host="@string/web_host" -->
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.plaoc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".microService.browser.BrowserActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.plaoc" />
        <activity android:name=".microService.sys.mwebview.MutilWebViewPlaceholder1Activity" android:exported="true"/>
        <activity android:name=".microService.sys.mwebview.MutilWebViewPlaceholder2Activity" android:exported="true"/>
        <activity android:name=".microService.sys.mwebview.MutilWebViewPlaceholder3Activity" android:exported="true"/>
        <activity android:name=".microService.sys.mwebview.MutilWebViewPlaceholder4Activity" android:exported="true"/>
        <activity android:name=".microService.sys.mwebview.MutilWebViewPlaceholder5Activity" android:exported="true"/>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".microService.sys.jmm.ui.JmmManagerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="info.bagen.dwebbrowser.openjmm" />
            </intent-filter>
        </activity>
        <service android:name=".service.DwebBrowserService" />
        <receiver android:name=".broadcast.BFSBroadcastReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file.opener.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_opener_paths" />
        </provider>
    </application>

</manifest>