<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" /> <!-- 振动，蜂鸣 -->
  <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!--粗略定位-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  <!-- 精确定位 -->
  <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!-- 手机 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <!-- <uses-permission android:name="android.permission.USE_BIOMETRIC" />--> <!--生物识别-->
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <application>

    <activity
      android:name="org.dweb_browser.sys.biometrics.BiometricsActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />
    <activity
      android:name="org.dweb_browser.sys.keychain.render.KeychainActivity"
      android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode|navigation|fontScale|density|colorMode|layoutDirection|locale"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />

    <activity
      android:name="org.dweb_browser.sys.share.ShareActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent">
      <intent-filter>
        <action android:name="${applicationId}.share" />
      </intent-filter>
    </activity>

    <activity
      android:name=".permission.PermissionActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />
    <activity
      android:name=".filechooser.FileChooserActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />
    <activity
      android:name=".mediacapture.MediaCaptureActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />
    <activity
      android:name=".contact.ContactPickerActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />
    <activity
      android:name=".shortcut.ShortcutManageActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.FullScreen">
      <intent-filter>
        <action android:name="info.bagen.dwebbrowser.shortcut.more" />
      </intent-filter>
    </activity>
  </application>
</manifest> 