<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" /> <!-- 振动，蜂鸣 -->
<!--  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
  <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

  <application>

    <activity
      android:name="org.dweb_browser.sys.biometrics.BiometricsActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />

    <activity
      android:name="org.dweb_browser.sys.share.ShareActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent">
      <intent-filter>
        <action android:name="${applicationId}.share" />
      </intent-filter>
    </activity>

    <activity
      android:name=".permission.PermissionActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />
  </application>
</manifest> 