<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>

    <activity
      android:name="org.dweb_browser.sys.biometrics.BiometricsActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />

    <activity
      android:name="org.dweb_browser.sys.share.ShareActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent">
      <intent-filter>
        <action android:name="${applicationId}.share" />
      </intent-filter>
    </activity>
  </application>
</manifest> 