<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.13</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <string>true</string>
  <key>CFBundleExecutable</key>
  <string>DwebBrowser</string>
  <key>CFBundleIconFile</key>
  <string>DwebBrowser.icns</string>
  <key>CFBundleIdentifier</key>
  <string>com.instinct.bfexplorer</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>DwebBrowser</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>3.7.1700</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.productivity</string>
  <key>CFBundleVersion</key>
  <string>3.7.1700</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2024</string>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <string>true</string>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>info.bagen.dwebbrowser</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>dweb</string>
        </array>
      </dict>
    </array>
 </dict>
</plist>
