<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <uses-feature android:name="android.hardware.camera.any" />

  <application
    android:enableOnBackInvokedCallback="true"
    android:resizeableActivity="true"
    tools:targetApi="tiramisu">
    <meta-data
      android:name="android.max_aspect"
      android:value="3" />
    <meta-data
      android:name="android.min_aspect"
      android:value="1.0" />

    <activity
      android:name=".desk.DesktopActivity"
      android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.dwebbrowser"
      android:windowSoftInputMode="adjustResize"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".desk.TaskbarActivity"
      android:exported="true"
      android:theme="@style/Theme.DwebBrowser.Transparent" />
  </application>
</manifest> 