<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-feature android:name="android.hardware.camera.any" />

  <application>
    <activity
      android:name=".desk.DesktopActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.dwebbrowser"
      tools:ignore="LockedOrientationActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".desk.TaskbarActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.DwebBrowser.Transparent" />

    <activity
      android:name="org.dweb_browser.browser.common.barcode.ScanningActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:theme="@style/Theme.dwebbrowser">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
      </intent-filter>
    </activity>
  </application>
</manifest> 