<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <uses-feature android:name="android.hardware.camera.any" />

  <application
    android:resizeableActivity="true"
    android:enableOnBackInvokedCallback="true"
    tools:targetApi="tiramisu">
    <meta-data
      android:name="android.max_aspect"
      android:value="3" />
    <meta-data
      android:name="android.min_aspect"
      android:value="1.0" />

    <activity
      android:name=".desk.DesktopActivity"
      android:theme="@style/Theme.dwebbrowser"
      android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      tools:ignore="LockedOrientationActivity"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".desk.TaskbarActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.DwebBrowser.Transparent" />

    <activity
      android:name=".common.barcode.ScanningActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:theme="@style/Theme.DwebBrowser.FullScreen">
      <intent-filter>
        <action android:name="info.bagen.dwebbrowser.scan" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>
</manifest> 